<?xml version="1.0" encoding="iso-8859-15"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<HTML>
<HEAD>
<META HTTP-EQUIV="Cache-Control" content="no-cache">
<META HTTP-EQUIV="Pragma" CONTENT="no-cache">
<META HTTP-EQUIV="Refresh" CONTENT="<##step##>">
<TITLE>SmokePing Latency Page for <##title##></TITLE>
<STYLE type="text/css">
<!--

td.menubar, 
td.menubar a
{
    color: white;
    text-decoration: none;
}

td.menubar {
    background: #4c4c4c;
}

td.menu,
td.menuitem,
td.menuopen,
td.menuactive
 {      font-size: 10px;
        font-family: sans-serif;
       }
       
td.menuactive {
        background: #202040;
       }

a.menulink {
	color: white;
	}
	
a.menulink:hover       {
        color: #e0e0ff;
        }
-->
</STYLE>

<script src="cropper/lib/prototype.js" type="text/javascript"></script>      
<script src="cropper/lib/scriptaculous.js?load=builder,dragdrop" type="text/javascript"></script>
<script src="cropper/cropper.js" type="text/javascript"></script>
<script src="cropper/smokeping-zoom.js" type="text/javascript"></script>



</HEAD>
<BODY bgcolor="white">
<TABLE border="0" cellpadding="10" cellspacing="0">
<TR>
  <TD class="menubar" align="left" width="130" valign="top">
  <P></P>
  <P><B>SmokePing Targets:</B>&nbsp;&nbsp;</P>
  <P><##menu##></P>
  <br/>
  </td>
   <TD rowspan="2"></TD>
   <TD rowspan="2" valign="top">
      <H1><##title##></H1>
        <P><##remark##></P>
        <P><##overview##></P>
        <P><##body##></P>
   </TD>
</TR>
<tr>
<td class="menubar" valign="bottom" width="130">
  <p><small>Maintained by <br/><A href="mailto:<##contact##>"><##owner##></A></small></p>
  <p><small>Running on <##smokeping##> by <##author##></small></p>
  <P><##smokelogo##></P>
  <P></P>
  <P><##rrdlogo##></P>
</TD>
</tr>
</TABLE>
</BODY>
</HTML>
