<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Cache-control" content="no-cache">
    <meta http-equiv="pragma" content="no-cache">
    <META http-equiv="Refresh" content="<##step##>">
    <title>SmokePing Latency Page for <##title##></title>
<STYLE type="text/css">

body {
    background: #eee;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

h1 {
    font-size: 32px;
    line-height:32px;
    font-weight: 400;
}
h2 {
    font-size: 16px;
    line-height:16px;
    font-weight: 400;
}

.main {
    padding: 10px 10px 0 280px;
}

.sidebar {
    background: #4c4c4c;
    position: fixed;
    top: 0;
    left: 0;
    width: 250px;
    height: 100%;
    color: #ccc;
}

.sidebar-header {
    border-bottom: 1px solid #373737;
    height: 20px;
    position: relative;
    padding: 10px;
}
.sidebar-header p {
    margin: 0;
    color: #fff;
    font-size: 14px;
}

.sidebar-menu {
    overflow-x: hidden;
    overflow-y: auto;
    position: fixed;
    top: 41px;
    bottom: 100px;
    width: 250px;
}

.sidebar .filter-label,
.sidebar .hierarchy-label {
    display: none;
}
.sidebar .filter-text,
.sidebar .hierarchy-popup {
    margin: 10px;
}
.sidebar .hierarchy-popup select {
    width: 100%;
}
.sidebar .filter-text input {
    width: 100%;
    box-sizing: border-box;
    border: 0;
    padding: 5px;
    border-radius: 3px;
    background-color: #232323;
    color: #ccc;
}

.sidebar ul.menu {
    margin: 0;
    padding: 0;
    list-style: none;
    display: block;
    padding-bottom: 10px;
}

.sidebar ul.menu li {
    margin: 2px 10px;
    border: 1px solid transparent;
    position: relative;
}
.sidebar ul.menu li.menuopen,
.sidebar ul.menu li:hover,
.sidebar ul.menu li.menuactive {
    border: 1px solid #4a4a4a;
    background: #232323;
    color: #fff:
}
.sidebar ul.menu li a {
    color: #ccc;
    line-height: 2.0em;
    display: block;
    padding-left: 5px;
    text-decoration: none;
}
.sidebar ul.menu li a.menulinkactive {
    color: #67c2ef;
}
.sidebar ul.menu li ul {
    background: #343434;
    padding: 5px;
}


.sidebar .sidebar-footer {
    position: fixed;
    bottom: 0;
    left: 0;
    padding: 5px 10px;
    width: 230px;
    text-align: center;
    box-shadow: 0 -3px 1px -1px rgba(0,0,0,0.05);
    border-top: 1px solid #373737;
    background: #4c4c4c;
}
.sidebar .sidebar-footer p {
    margin: 0;
    margin-bottom: 10px;
}
.sidebar .sidebar-footer,
.sidebar .sidebar-footer a {
    color: #747474;
    text-decoration: none;
}
.sidebar .sidebar-footer a:hover {
    text-decoration: underline;
}
.sidebar .footer-logo {
    width: 115px;
    height: 30px;
    float: left;
}


.main .panel {
    border: 1px solid #d4d4d4;
    box-shadow: 0 2px 1px -1px rgba(0,0,0,0.1);
    background: #fff;
    margin-bottom: 20px;
    display: inline-block;
}

.main .panel-heading {
    background: #f5f5f5;
    border-bottom: 1px solid #d4d4d4;
    box-shadow: inset 0 0 1px 1px #fff;
}

.main .panel-heading h2 {
    margin: 0;
    padding-left: 10px;
    line-height: 30px;
    font-size: 14px;
    font-weight: 500;
}

.main .panel-body {
    padding: 5px;
}


/*img #zoom {
    cursor: crosshair;
}*/
</STYLE>

<script src="cropper/lib/prototype.js" type="text/javascript"></script>
<script src="cropper/lib/scriptaculous.js?load=builder,effects,dragdrop" type="text/javascript"></script>
<script src="cropper/cropper.js" type="text/javascript"></script>
<script src="cropper/smokeping-zoom.js" type="text/javascript"></script>


</HEAD>
<BODY>

<div class="sidebar">
    <div class="sidebar-header">
        <p>Welcome back <strong><##authuser##></strong><p>
    </div>

    <div class="sidebar-menu">
        <##menu##>
    </div>
    <div class="sidebar-footer">
        <p>Running on <##smokeping##> by <##author##></p>
        <p><small>Maintained by <a href="mailto:<##contact##>"><##owner##></a></small></p>
        <div class="footer-logo">
            <##smokelogo##>
        </div>
        <div class="footer-logo">
            <##rrdlogo##>
        </div>
    </div>
</div>

<div class="main">
    <h1><##title##></h1>
    <h2><##remark##></h2>

    <div class="overview">
        <##overview##>
    </div>

    <div class="details">
        <##body##>
    </div>

</div>

</BODY>
</HTML>
