# Note that all IP addresses in this file are false, to prevent some
# machine falling uder a deadly DOS storm because all users keep
# the same addresses in their config.

*** General ***

owner    = Joe Random
contact  = joe@some.place.xyz
mailhost = smtp.mailhost.abc
sendmail = /usr/lib/sendmail
imgcache = /home/oetiker/public_html/.simg
imgurl   = ../.simg
datadir  = /home/oetiker/data/projects/AADJ-smokeping/dist/var
piddir  = /home/oetiker/data/projects/AADJ-smokeping/dist/var
cgiurl   = http://people.ee.ethz.ch/~oetiker/smokeping/smokeping.cgi
smokemail = /home/oetiker/data/projects/AADJ-smokeping/dist/etc/smokemail.dist
# specify this to get syslog logging
syslogfacility = local0
# each probe is now run in its own process
# disable this to revert to the old behaviour
# concurrentprobes = no

*** Alerts ***
to = admin@company.xy
from = smokealert@company.xy

+bigloss
type = loss
# in percent
pattern = ==0%,==0%,==0%,==0%,>0%,>0%,>0%
comment = suddenly there is packet loss

+someloss
type = loss
# in percent
pattern = >0%,*12*,>0%,*12*,>0%
comment = loss 3 times  in a row

+startloss
type = loss
# in percent
pattern = ==S,>0%,>0%,>0%
comment = loss at startup

+rttdetect
type = rtt
# in milli seconds
pattern = <10,<10,<10,<10,<10,<100,>100,>100,>100
comment = routing mesed up again ?

*** Database ***

step     = 300
pings    = 20

# consfn mrhb steps total

AVERAGE  0.5   1  1008
AVERAGE  0.5  12  4320
    MIN  0.5  12  4320
    MAX  0.5  12  4320
AVERAGE  0.5 144   720
    MAX  0.5 144   720
    MIN  0.5 144   720

*** Presentation ***

template = /home/oetiker/data/projects/AADJ-smokeping/dist/etc/basepage.html.dist

+ overview 

width = 600
height = 50
range = 10h

+ detail

width = 600
height = 200
unison_tolerance = 2

"Last 3 Hours"    3h
"Last 30 Hours"   30h
"Last 10 Days"    10d
"Last 400 Days"   400d

*** Probes ***

+ FPing

binary = /usr/sepp/bin/fping

*** Targets ***

probe = FPing

menu = Top
title = Network Latency Grapher
remark = Welcome to the SmokePing website of xxx Company. \
         Here you will learn all about the latency of our network.

+ World

menu = World
title = Worldwide Connectivity

++ Europe

menu = Europe
title =European Connectivity

+++ Switzerland

menu = Switzerland
title =Swiss Connectivity
alerts = bigloss,someloss,startloss

++++ SBB

menu = SBB/CFF/FFS
title =Swiss Federal Railways Webserver
host = www.railway-server.abc


++++ Tiscali

menu = Tiscali Web
title = Tiscali Webserver www.tiscali.abc
host = www.tiscali-web.abc

+++ UK

menu = United Kingdom
title = United Kingdom

++++ UCL

menu = UCL
title = UCL
host = www.ucl-abc.acc.uk

++ USA

menu = North America
title =North American Connectivity

+++ MIT

menu = MIT
title = Massachusetts Institute of Technology Webserver
host = www.gurkoman.ybc

+++ IU

menu = IU
title = Indiana University
host = www.iu.ali

+++ UCB

menu = U. C. Berkeley
title = U. C. Berkeley Webserver
host = www.berkly.udi

+++ UCSD

menu = U. C. San Diego
title = U. C. San Diego Webserver
host = www.ucsdddar.art

+++ Sun

menu = Sun Microsystems
title = Sun Microsystems Webserver
host = www.sun-web.com

